// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// Fonts
// Valencia
@font-face {
  font-family: "Valencia";
  src: url("../fonts/Valencia\ 400.ttf");
  font-weight: normal;
  font-style: normal;
}

// Avenir
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// KEYFRAMES
@keyframes pulse {
  0% {
    opacity: 0.5;
    height: 10px;
    width: 10px;
    transition: opacity 0.5s linear;
  }

  50% {
    opacity: 0;
    transform: scale(3);
    transition: opacity 0.5s linear;
  }

  100% {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

// Navigation
.navBtn,
.navigation {
  position: fixed;
  z-index: 1;
  right: 30px;
}

.navBtn {
  top: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333333d8;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    opacity: 0.3;
  }

  .pulse {
    background: #333;
    border-radius: 50%;
    animation: pulse 7s infinite;
  }
}

.navigation {
  padding-top: 30px;
  top: 40px;

  ul {
    list-style: none;

    li {
      padding: 0.2rem 0;
      font-size: 1.25rem;
      font-weight: 500;
      opacity: 0.9;
      cursor: pointer;

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

// Sections
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

// Welcome Section
.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: Valencia;
    font-size: clamp(4rem, 3rem + 10vw, 11.3rem);
    font-weight: 500;
  }

  p {
    font-size: clamp(1rem, 1rem + 4vw, 3.2rem);
  }
}

// TextSlide Section
// About Section
.textSlideSection {
  padding-top: 11%;
  position: relative;

  .slideHeader {
    font-weight: 800;
    font-size: clamp(3rem, 3rem + 12vw, 12.5rem);
    color: #bebebe7c;
    position: absolute;
    z-index: 1;
  }

  .slideText {
    position: relative;
    display: block;
    z-index: 2;
    font-size: clamp(1rem, 1rem + 3vw, 2.38rem);
    font-weight: 300;
    top: 140px;
    right: 12%;
    max-width: 1100px;
    float: right;
  }

  // Contact Page
  .contactWrapper {
    .iconContainer {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      margin-top: 2em;

      img {
        position: relative;
        z-index: 1;
        max-width: 170px;
        max-height: 170px;
        padding: 2.5em;
      }
    }

    .contactInformation {
      padding: 3rem 3rem 3rem 1rem;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

// DATA SLIDER
.dataSlider {
  height: 1100vh;
}

.dataSlider {
  /*   .visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  } */

  .dataSliderWrapper {
    display: flex;
    flex-flow: row nowrap;

    .dataSliderLeft {
      position: fixed;
      top: 10%;
      left: 0px;
      display: flex;
      flex-flow: column nowrap;
      height: 100vh;
      width: 50%;
      background: transparent;

      .dataTextContainer {
        animation: revealText 1s ease-out forwards;
          animation-delay: 1s;
          opacity: 0;
        padding: 5rem;

        h1 {
          position: relative;
          font-size: clamp(2rem, 2rem + 5vw, 8.4rem);
          font-weight: 800;
          margin-top: 30px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: #333;
            animation: hideBox 1s ease-out forwards;
            opacity: 1;
          }
        }

        h3 {
          font-weight: 500;
          font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
          padding-top: 2rem;
        }

        p {
          font-weight: 400;
          font-size: 1.25rem;
          padding: 0.5rem 2rem 2rem 0;
        }

        a {
          color: #333;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .dataSliderRight {
      margin-left: 50%;
      width: 50%;
      display: flex;
      flex-flow: column nowrap;

      .slideImgWrapper {
        height: 100vh;
        position: relative;

        img {
          display: block;
          margin: auto;
          max-width: 70%;
          padding: 1rem;
        }
      }
    }
  }
}

@keyframes hideBox {
  0% {
    width: 0;
  }

  25% {
    width: 50%;
  }

  50% {
    width: 100%;
  }

  75% {
    width: 50%;
  }

  100% {
    width: 0%;
  }
}

@keyframes revealText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
