// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// Fonts
// Valencia
@font-face {
  font-family: "Valencia";
  src: url("../fonts/Valencia\ 400.ttf");
  font-weight: normal;
  font-style: normal;
}

// Avenir
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// KEYFRAMES
@keyframes pulse {
  0% {
    opacity: 0.5;
    height: 10px;
    width: 10px;
    transition: opacity 0.5s linear;
  }

  50% {
    opacity: 0;
    transform: scale(3);
    transition: opacity 0.5s linear;
  }

  100% {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

@keyframes hideBox {
  0% {
    left: 0;
    width: 0;
  }

  25% {
    left: 0;
    width: 50%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  75% {
    left: 50%;
    width: 50%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes revealText {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Navigation
.navBtn,
.navigation {
  position: fixed;
  z-index: 10;
  right: 30px;
}

.navBtn {
  top: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333333d8;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    opacity: 0.3;
  }

  .pulse {
    background: #333;
    border-radius: 50%;
    animation: pulse 7s infinite;
  }
}

.navigation {
  padding-top: 30px;
  top: 40px;

  ul {
    list-style: none;

    li {
      padding: 0.2rem 0;
      font-size: 1.25rem;
      font-weight: 500;
      opacity: 0.9;
      cursor: pointer;

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

// Sections
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

// Welcome Section
.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: Valencia;
    font-size: clamp(4rem, 3rem + 10vw, 11.3rem);
    font-weight: 500;
  }

  p {
    font-size: clamp(1rem, 1rem + 4vw, 3.2rem);
  }
}

// TextSlide Section
// About Section
.textSlideSection {
  padding-top: 11%;
  position: relative;

  .slideHeader {
    font-weight: 800;
    font-size: clamp(3rem, 3rem + 12vw, 12.5rem);
    color: #bebebe7c;
    position: absolute;
    z-index: 1;
  }

  .slideText {
    position: relative;
    display: block;
    z-index: 2;
    font-size: clamp(1rem, 1rem + 3vw, 2.38rem);
    font-weight: 300;
    top: 140px;
    right: 12%;
    max-width: 900px;
    float: right;
  }

  // Contact Page
  .contactWrapper {
    .iconContainer {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      margin-top: 7em;
      position: relative;
      z-index: 1;

      figure {
        display: inline-block;
        text-align: center;
      }

      figcaption {
        font-size: 1rem;
        font-weight: 600;
      }

      .iconSizeCSS {
        scale: 1.2;
      }

      .iconSizeHTML {
        scale: 1.1;
      }

      img {
        position: relative;
        z-index: 1;
        max-width: 110px;
        max-height: 110px;
        cursor: pointer;
        margin: 2rem;
      }
    }

    .contactInformation {
      padding: 3rem 3rem 3rem 1rem;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

// DATA SLIDER
.dataSlider {
  height: 1200vh;
  margin: 250px 0 200px 0;

  .dataSliderWrapper {
    display: flex;
    flex-flow: row nowrap;

    .dataSliderLeft {
      position: fixed;
      top: 10%;
      left: 0px;
      display: flex;
      flex-flow: column nowrap;
      height: 100vh;
      width: 50%;
      background: transparent;

      .dataTextContainer {
        padding: 5rem;

        .counterWrapper {
          position: absolute;
          top: 0;
          left: 40px;
          animation: revealText 1s ease-out forwards;

          .counterItem {
            font-size: 2rem;
            font-weight: 800;
            margin: 0;
          }
        }

        h1,
        h3,
        p,
        a {
          position: relative;
          display: inline-block;
        }

        h1 .bar,
        h3 .bar,
        p .bar,
        a .bar,
        .counterWrapper .bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #333;
          animation: hideBox 1s ease-out forwards;
        }

        h1 .textItem,
        h3 .textItem,
        p .textItem,
        a .textItem{
          opacity: 0;
          animation: revealText 1s ease-out forwards;
        }

        h1 {
          font-size: clamp(2rem, 2rem + 5vw, 8.4rem);
          font-weight: 800;
          margin-top: 30px;
        }

        h3 {
          position: relative;
          font-weight: 500;
          font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
          margin-top: 2rem;
        }

        p {
          position: relative;
          font-weight: 400;
          font-size: 1.25rem;
          margin: 0.5rem 2rem 2rem 0;
        }

        a {
          position: relative;
          color: #333;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .dataSliderRight {
      margin-left: 50%;
      width: 50%;
      display: flex;
      flex-flow: column nowrap;

      .slideImgWrapper {
        height: 100vh;
        position: relative;

        img {
          display: block;
          margin: auto;
          max-width: 70%;
          padding: 1rem;
        }
      }
    }
  }
}

// Contact Form Modal
.contactFormWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 3rem;
  background: #fff;

  &:focus {
    outline: none;
  }

  h1,
  p {
    text-align: center;
    padding: 0.1rem;
  }

  p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
  }

  .contactFormModal {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    input,
    textarea {
      margin-bottom: 1rem;
      border: 1px solid #333;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
    }

    input {
      padding: 0.2rem;
    }

    textarea {
      resize: none;
      height: 100px;
    }

    button {
      margin-top: 1rem;
      padding: 0.7rem;
      border: 1px solid #333;
      background: #333;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      width: 100px;
      margin: auto;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #000;
      }
    }
  }
}
